<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title><%= site.SITE_NAME %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="Description" content="音韵码工是我自己的一个个人博客" />
		<meta name="Keywords" content="代码，吉他" />
        <link rel="stylesheet" href="<%= site.SITE_STATIC_URL %>/css/common.css" />
        <link rel="stylesheet" href="<%= site.SITE_STATIC_URL %>/css/general.css" />
        <% if (typeof ugcCss != 'undefined' && ugcCss.length != 0) { %>
    	<% for(var i=0; i<ugcCss.length; i++) { %>
        <link rel="stylesheet" href="<%= site.SITE_STATIC_URL %><%= ugcCss[i] %>" />
    	<% } %>
        <% } %>
        <script type="text/javascript">
			var YYMG = {};
			(function(global, undefined) {
				YYMG.errors = [];
				YYMG.modules = [];
				YYMG.baseUrl = '<%= site.SITE_BASE_URL %>';
				YYMG.staticUrl = '<%= site.SITE_STATIC_URL %>';
				
				// 伟大的博主想关心一下IE6什么的。
				if (!window.console) window.console = {log : function(){}};
				
				// window.onerror = function(message, url, line) {
				// 	 YYMG.errors.push({message: message, url: url, line: line});
				//	 return true;
				// };
			})(window);
        </script>
    </head>
    <body>
        <div id="pagewrap">
            <div id="header">
                <div class="header-wrap">
                    <div id="site-logo" class="site-logo">
                         <h1><a href="<%= site.SITE_BASE_URL %>">音韵码工</a></h1>
                    </div>
                    <div id="site-description" classs="site-description">左手音符，右手代码 ！</div>
                </div>
            </div>
            <div id="navigator" class="navigator">
                <div class="navigator-wrap">
                    <ul>
                        <% if (typeof menus != 'undefined') { %>
                        <% for(var i=0; i<menus.length; i++) { %>
                        <li class="<% if (menus[i].url == url ) { %>active<% } %> item nav-item-<%= i %>"><a href="<%= menus[i].url %>"><%= menus[i].title %></a></li>
                        <% } %>
                        <script>
                        (function() {
                        	var nav = document.getElementById('navigator');
                        	var tabs = nav.getElementsByTagName('li');
                        	var tabsLen = tabs.length;
                        	var _hasAct = false;
                        	for(var i=0; i<tabsLen; i++) {
                        		if(tabs[i].className.indexOf('active') != -1) {
                        			_hasAct = true;
                        			break;
                        		}
                        	}
                        	if(!_hasAct) {
                        		tabs[0].className += ' active'
                        	}
                       	})();
                        </script>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div id="body">
                <% if (vtype != 4) %>
                <div class="body-wrap">
                    <% if(vtype == 1) { %>
                    <%     include contents/content-1 %>
                    <% } else if(vtype == 2) { %>
                    <%     include contents/content-2 %>
                    <% } else if(vtype == 3) { %>
                    <%     include contents/content-3 %>
                    <% } else if(vtype == 4) { %>
                    <%     include contents/content-4 %>
                    <% } else if(vtype == 5) { %>
                    <%     include contents/content-5 %>
                    <% } %>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="footer">
                <div class="footer-wrap">&copy; 音韵码工 2012 <br />Powered by <a target="_blank" href="http://nodejs.org">node.js</a> created by <a href="mailto:xukai.ken@gmail.com">EchoFUN</a></div>
            </div>
        </div>
        <a id="scrolltop" href="javascript:;">
            <span>返回顶部</span>
        </a>
        <script type="text/javascript" src="<%= site.SITE_STATIC_URL %>/js/libs/libs.js"></script>
        <script type="text/javascript" src="<%= site.SITE_STATIC_URL %>/js/libs/sea.js" data-main="<%= site.SITE_STATIC_URL %>/js/general"></script>
    </body>
</html>