<% if(status.code == 0) { %>
请求失败！<br />
原因为<%= status.content %>
<% } else { %>
待审核评论为：
	<% for(var i=0; i<comments.length; i++) { %>
		<p><%= comments[i].name %>&nbsp;评论于<%= comments[i].date %>&nbsp;内容为：<%= comments[i].content %>&nbsp;文章id：<%= comments[i].pid %></p>	
	<% } %>
<% } %>