<!DOCTYPE html>
<html>
  <head>
    <title><%= site.SITE_NAME %></title>
    <script type="text/javascript">
    function ajax(setting){
      xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function(){
        if(xhr.readyState == 4){  
          if(xhr.status == 200){
            setting.success(xhr.responseText);
          }
        }
      }
      
      xhr.open('POST',setting.url,true);
      xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
      xhr.send(setting.data);
    }
    
    function approve(target) {
      var cid = target.getAttribute('cid');
      ajax({url:'/comment/approve', data:'cid='+cid, success:function(ret){
        var ret = JSON.parse(ret);
        if (ret.status.code == 1) {
          var liNode = target.parentNode.parentNode;
          liNode.parentNode.removeChild(liNode);
        } else {
          alert(ret.status.content);
        }
      }});
    }
    </script>
  </head>
  <body>
    <% if (hasRight) {%>
    <% if(status.code == 0) { %>
    请求失败！<br />
    原因为<%= status.content %>
    <% } else { %>
    待审核评论为：
      <ul>
      <% for(var i=0; i<comments.length; i++) { %>
        <li>       
          <div><%= comments[i].name %>&nbsp;评论于<%= comments[i].date %>&nbsp;内容为：<%= comments[i].content %>&nbsp;文章id：<%= comments[i].pid %></div>
          <div>
            <a cid="<%= comments[i]._id %>" href="#nogo" onclick="approve(this)">批准</a>
          </div>  
        </li>    
      <% } %>
      </ul>
      <br />
      <a href="/">首页</a>
    <% } %>
  <% } else { %>
  对不起，您没有权限访问此页面，请<a href="/site/login">登录</a>。
  <% } %>
  </body>
</html>