<% if(typeof rectPosts != 'undefined') {%>
<div class="widget">
    <h3>近期文章</h3>
    <ul>
    	<% for(var j=0; j<rectPosts.length; j++) { %>
        <li><a href="<%= site.SITE_BASE_URL + '/post?pid=' + rectPosts[j]._id %>" title="<%= rectPosts[j].title %>"><%= rectPosts[j].title %></a></li>
    	<% } %>
    </ul>
</div>    
<% } %>  

<% if(typeof archives != 'undefined') { %>
<div class="widget">        
    <h3>文章归档</h3>       
    <ul>
    	<% for(var j=0; j<archives.length; j++) { %>
    	<li><a href="<%= site.SITE_BASE_URL + '/post?archive=' + archives[j].full.getTime() %>"><%= archives[j].summary %></a></li>
    	<% } %>
    </ul>
</div>
<% } %>

<% if(typeof tags != 'undefined') { %>
<div class="widget">
    <h3>标签</h3>
    <div class="tag-cloud">
    	<% for(var j=0; j<tags.length; j++) { %>
    	<a class="tag-item" href="javascript:;"><%= tags[j].title %></a>
    	<% } %>
    </div>
</div>
<% } %>

<% if(typeof links != 'undefined') { %>
<div class="widget">
    <h3>链接</h3>
    <ul>
        <% for(var j=0; j<links.length; j++) { %>
        <li><a target="_blank" href="<%= links[j].url %>" ><%= links[j].title %></a></li>
        <% } %>
    </ul>
</div>
<% } %>