<% if(false){ %>
<div class="widget sina-widget">
<script type="text/javascript">function showIframe(iframe){setTimeout(function(){iframe.style.display = 'block';}, 500)}</script>
<iframe onload="showIframe(this)" id="sina_widget_1642680233" style="width:100%; height:500px; display:none;" frameborder="0" scrolling="no" src="http://v.t.sina.com.cn/widget/widget_blog.php?uid=1642680233&height=500&skin=wd_01&showpic=1"></iframe>
</div>
<% } %>

<% var rectPosts = result.rectPosts; %>
<% if(typeof rectPosts != 'undefined' && rectPosts.length != 0) {%>
<div class="widget">
    <h3>近期文章</h3>
    <ul>
    	<% for(var j=0; j<rectPosts.length; j++) { %>
        <li><a target="_blank" href="<%= site.SITE_BASE_URL + '/post?pid=' + rectPosts[j]._id %>" title="<%= rectPosts[j].title %>"><%= rectPosts[j].shortTitle %></a></li>
    	<% } %>
    </ul>
</div>    
<% } %>  

<% var widgetTags = result.widgetTags; %>
<% if(typeof widgetTags != 'undefined' && widgetTags.length != 0) { %>
<div class="widget">
    <h3>标签云</h3>
    <div class="tag-cloud">
    	<% for(var j=0; j<widgetTags.length; j++) { %>
    	<% if(widgetTags[j].counter != 1){ %>
    	<a class="tag-item underConstruct" href="javascript:;" style="font-size: <%= widgetTags[j].counter*2 + 10 %>px"><%= widgetTags[j].title %></a>
    	<% } %>
    	<% } %>
    </div>
</div>
<% } %>

<% var archives = result.archives; %>
<% if(typeof archives != 'undefined' && archives.length != 0) { %>
<div class="widget">        
    <h3>文章归档</h3>       
    <ul>
    	<% for(var j=0; j<archives.length; j++) { %>
    	<!-- <li><a href="<%= site.SITE_BASE_URL + '/post?archive=' + archives[j].full.getTime() %>"><%= archives[j].summary %></a></li> -->
    	<li><a href="javascript:;" class="underConstruct"><%= archives[j].summary %></a></li>
    	<% } %>
    </ul>
</div>
<% } %>

<% var links = result.links; %>
<% if(typeof links != 'undefined' && links.length != 0) { %>
<div class="widget">
    <h3>链接</h3>
    <ul>
        <% for(var j=0; j<links.length; j++) { %>
        <li><a target="_blank" href="<%= links[j].url %>" ><%= links[j].title %></a></li>
        <% } %>
    </ul>
</div>
<% } %>

<div class="widget">
	<embed src="http://www.xiami.com/widget/3598682_5409,_250_346_FF8719_494949_0/multiPlayer.swf" type="application/x-shockwave-flash" width="250" height="346" wmode="opaque"></embed>
	<!-- 
		<script type="text/javascript" src="<%= site.SITE_STATIC_URL %>/js/modules/audio/audio.js"></script>
		<audio src="<%= site.SITE_BASE_URL %>/res/music/neveralone.mp3" id="sidebar-audio" />
	-->
</div>