<div class="widget sina-widget">
<iframe id="sina_widget_1642680233" style="width:100%; height:500px;" frameborder="0" scrolling="no" src="http://v.t.sina.com.cn/widget/widget_blog.php?uid=1642680233&height=500&skin=wd_01&showpic=1"></iframe>
</div>

<% if(typeof rectPosts != 'undefined' && rectPosts.length != 0) {%>
<div class="widget">
    <h3>近期文章</h3>
    <ul>
    	<% for(var j=0; j<rectPosts.length; j++) { %>
        <li><a href="<%= site.SITE_BASE_URL + '/post?pid=' + rectPosts[j]._id %>" title="<%= rectPosts[j].title %>"><%= rectPosts[j].title %></a></li>
    	<% } %>
    </ul>
</div>    
<% } %>  

<% if(typeof archives != 'undefined' && archives.length != 0) { %>
<div class="widget">        
    <h3>文章归档</h3>       
    <ul>
    	<% for(var j=0; j<archives.length; j++) { %>
    	<li><a href="<%= site.SITE_BASE_URL + '/post?archive=' + archives[j].full.getTime() %>"><%= archives[j].summary %></a></li>
    	<% } %>
    </ul>
</div>
<% } %>

<% if(typeof widgetTags != 'undefined' && widgetTags.length != 0) { %>
<div class="widget">
    <h3>标签</h3>
    <div class="tag-cloud">
    	<% for(var j=0; j<widgetTags.length; j++) { %>
    	<a class="tag-item" href="javascript:;" style="font-size: <%= widgetTags[j].counter*2 + 10 %>px"><%= widgetTags[j].title %></a>
    	<% } %>
    </div>
</div>
<% } %>

<% if(typeof links != 'undefined' && links.length != 0) { %>
<div class="widget">
    <h3>链接</h3>
    <ul>
        <% for(var j=0; j<links.length; j++) { %>
        <li><a target="_blank" href="<%= links[j].url %>" ><%= links[j].title %></a></li>
        <% } %>
    </ul>
</div>
<% } %>