<div class="main left">
    <% if(typeof post != 'undefined') { %>
    <h1><%= post.title %></h1>
    <p class="post-meta">
        <span class="date"><%= post.date.getFullYear() %>年<%= post.date.getMonth() %>月<%= post.date.getDate() %>日</span>
        <span class="author"><%= post.author %></span>
        <span class="cat">
            <% if(typeof post.categories != 'undefined') { %>
            <% for(var i in post.categories) { %>
            <% var title = post.categories[i].title; %>
            <a href="#nogo" title="查看 <%= title %> 中的全部文章"><%= title %></a>
            <% } %>
            <% } %>
        </span>
        <% cmtLen = post.comments.length; %>
        <span class="comments"><a href="#nogo" title="<%= post.title %>文章上有<%= cmtLen %>条评论"><%= cmtLen %></a></span>
    </p>
    <p class="post-content"><%= post.content %></p>
    <p class="tags">
        <span><a href="#nogo" title="吉他">吉他</a></span>
    </p>
    <p class="pagination">
        <span class="prev"><a href="#nogo">上一页</a></span>
        <span class="next"><a href="#nogo">下一页</a></span>
    </p>
    <div class="comments">
        <div id="respond">
            <h3 id="reply-title">回复</h3>
            <form>

            </form>
        </div>
    </div>
    <% } else { %>
    <p>未找到相应的文章！</p>
    <% } %>
</div>
<div class="sidebar right">
    <% include ../widgets %>
</div>