<div class="main left">
    <% if (posts) { %>
    <% for(var i=0; i<posts.length; i++) { %>
    <% var pid = posts[i].id %>
    <div class="post" id="post-<%= pid %>">
        <h2><a href="#nogo"><%= posts[i].title %></a></h2>
        <p class="post-meta">
            <span class="date"><%= posts[i].date.getFullYear() %>年<%= posts[i].date.getMonth() %>月<%= posts[i].date.getDate() %>日</span>
            <span class="author"><%= posts[i].author %></span>
            <% var cats = [];
            for(var j in categories) {
                if(categories[j].pid == pid)
                    cats.push(categories[j].title);
            } %>
            <% if(cats.length != 0) { %>
            <span class="cat">
                <% for(var j in cats) { %>
                <a href="#nogo" title="查看 <%=cats[j] %> 中的全部文章"><%= cats[j] %></a>
                <% } %>
            </span>
            <% } %>
            <span class="comments"><a href="#nogo" title="<%= posts[i].title %>上有0条评论">0</a></span>
        </p>
        <p class="post-content"><%= posts[i].content %></p>
        <p class="more"></p>
        <% var tlist = [];
        for(var j in tags) {
            if(tags[j].pid == pid)
                tlist.push(tags[j].title);
        } %>
        <% if(tlist.length != 0) { %>
        <p class="tags">
            <span>
                <% for(var j in tlist) { %>
                <a href="#nogo" title="<%=tlist[j] %>"><%= tlist[j] %></a>
                <% } %>
            </span>
        </p>
        <% } %>
    </div>  
    <% } %>
    <% } %>
</div>
<div class="sidebar right">
    <% include ../widgets %>
</div>