<script type="text/javascript">
	(function(global) {
		YYMG || (YYMG = {});
		YYMG.modules.push(YYMG.staticUrl + '/js/modules/blog');
		YYMG.pid = '<%= post.id %>';
	})(window);
</script>
<div class="main article-view left">
    <% if(typeof post != 'undefined') { %>
    <h1><%= post.title %></h1>
    <p class="post-meta">
    	<% var month = post.date.getMonth() + 1 + '';
    	if (month.length == 1) {
    		month = '0' + month;
    	} %>
        <span class="date"><%= post.date.getFullYear() %>年<%= month %>月<%= post.date.getDate() %>日</span>
        <span class="author"><%= post.author %></span>
        <span class="cat">
            <% if(typeof post.categories != 'undefined') { %>
            <% for(var i in post.categories) { %>
            <% var title = post.categories[i].title; %>
            <a href="javascript:;" title="查看 <%= title %> 中的全部文章"><%= title %></a>,
            <% } %>
            <% } %>
        </span>
        <% cmtLen = post.comments.length; %>
        <span class="comments"><a href="javascript:;" title="<%= post.title %>文章上有<%= cmtLen %>条评论"><%= cmtLen %></a></span>
    </p>
    <div class="post-content"><%- post.content %></div>
    <p class="tags">
    	<span>
    	<% for(var i in post.tags) { %>
			<a href="javascript:;" title="<%= post.tags[i].title %>"><%= post.tags[i].title %></a>    	
    	<% } %>
    	</span>
    </p>
    <!--
    <p class="pagination">
        <span class="prev"><a href="javascript:;">上一页</a></span>
        <span class="next"><a href="javascript:;">下一页</a></span>
    </p>
    -->
    <div class="comments">
    	<% if(post.comments.length) { %>
	        <h3 id="comments-title">关于“<%= post.title %>”的<%= post.comments.length %>个想法</h3>
	    	<div class="comment-list" id="comment-list">
	    		<% for(var i in post.comments) { %>
	    		<% var comment = post.comments[i]; %>
	    		<div class="comment <%= ((i % 2) == 1)? 'even' : 'odd' %>" data-rid="<%= comment.id %>">
	    			<div class="avatar"><img height="38" width="38" src="" /></div>
	    			<div class="comment-info">
	    				<div class="name"><a href="<%= comment.webside %>"><%= comment.name %></a>&nbsp;说：</div>
	    				<% var date = comment.date, m = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Spt', 'Oct', 'Nov', 'Dec']; %>
	    				<% if (typeof date != 'undefined') { %>
	    				<div class="date"><%= m[date.getMonth()] %>&nbsp;<%= date.getDate() %>,&nbsp;<%= date.getFullYear() %>&nbsp;at&nbsp;<%= date.getHours() %>:<%= date.getMinutes() %></div>
	    				<% } %>
	    			</div>
	    			<div class="clear"></div>
	    			<div class="comment-content"><%= comment.content %></div>
	    		</div>
	    		<% } %>
	    	</div>
		<% } %>
        <div id="respond" class="respond">
        	<h3 id="reply-title">回复</h3>
        	<div class="respond-content">
        		<p class="item clearfix">
        			<label for="author">姓名：</label><input placeholder="昵称" type="text" name="author" class="author" /><span class="required">*</span>
        		</p>
        		<p class="item clearfix">
        			<label for="mail">邮箱：</label><input placeholder="您的邮箱地址" type="text" name="mail" class="mail" /><span class="required">*</span>
        		</p>
        		<p class="item clearfix">
        			<label for="webside">网站：</label><input placeholder="您的网站地址" type="text" name="webside" class="webside" />
        		</p>
        		<p class="item clearfix">
        			<label for="comment">评论：</label><textarea cols="73" rows="8" name="comment" class="comment"></textarea>
        		</p>
        		<p class="item clearfix">
        			<label></label><input class="submit" name="submit" type="submit" value="提交评论">
        		</p>
        	</div>
        </div>
    </div>
    <% } else { %>
    <p>未找到相应的文章！</p>
    <% } %>
</div>
<div class="sidebar right">
    <% include ../widgets %>
</div>