<div class="main article-list left">
    <% if (typeof posts != 'undefined') { %>
    <% for(var i=0; i<posts.length; i++) { %>
    <% var pid = posts[i].id %>
    <div class="post" id="post-<%= pid %>">
        <h2><a href="/post?pid=<%= posts[i].id %>"><%= posts[i].title %></a></h2>
        <p class="post-meta">
        	<% var month = posts[i].date.getMonth() + 1 + '';
        	if (month.length == 1) {
        		month = '0' + month;
        	} %>
            <span class="date"><%= posts[i].date.getFullYear() %>年<%= month %>月<%= posts[i].date.getDate() %>日</span>
            <span class="author"><%= posts[i].author %></span>
            <% var cats = [];
            for(var j in categories) {
                if(categories[j].pid == pid)
                    cats.push(categories[j].title);
            } %>
            <% if(cats.length != 0) { %>
            <span class="cat">
                <% for(var j in cats) { %>
                <a href="#nogo" title="查看 <%=cats[j] %> 中的全部文章"><%= cats[j] %></a>,
                <% } %>
            </span>
            <% } %>
            <% var counter = 0; 
            for(var j in comments) {
            	if(comments[j].pid == pid)
            		counter++;
            } %>
            <span class="comments"><a href="#nogo" title="<%= posts[i].title %>上有<%= counter %>条评论"><%= counter %></a></span>
        </p>
        <div class="post-content"><%- posts[i].content %></div>
        <p class="more"></p>
        <% var tlist = [];
        for(var j in tags) {
            if(tags[j].pid == pid)
                tlist.push(tags[j].title);
        } %>
        <% if(tlist.length != 0) { %>
        <p class="tags">
            <span>
                <% for(var j in tlist) { %>
                <a href="#nogo" title="<%=tlist[j] %>"><%= tlist[j] %></a>,
                <% } %>
            </span>
        </p>
        <% } %>
    </div>  
    <% } %>
    <% if(posts.length < postCount) { %>
    <p class="pagination">
    	<% if(currentPage > 1 && currentPage <= Math.ceil(postCount / site.PAGE_COUNT)) { %><span class="prev"><a href="<%= site.SITE_BASE_URL + '?page=' + (currentPage - 1) %>">上一页</a></span><% } %>
        <% if(currentPage >= 1 && currentPage < Math.ceil(postCount / site.PAGE_COUNT)) { %><span class="next"><a href="<%= site.SITE_BASE_URL +　'?page=' + (currentPage + 1) %>">下一页</a></span><% } %>
    </p>
   	<% } %>
    <% } %>
</div>
<div class="sidebar right">
    <% include ../widgets %>
</div>